.container-additional-fees{
  .block-content{
    margin-top: 0;
  }
  .additional-fees-content{
    font-size: 14px;

    .option{
      margin-bottom: 15px;
    }

    .option-title{
      margin-bottom: 5px;
    }

    .form-group{
      margin-bottom: 0;
    }

    .form-check{
      margin-bottom: 5px;
    }

    .form-check-label{
      font-size: 12px;
    }
  }
}