.store-credit{

  .block{
    margin-bottom: 20px;
  }

  .card .card-body{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .store-credit-box h5{
    margin: 0;
  }
}