@import './layout/style.scss';

@import './container/email';
@import './container/delivery';
@import './container/shipping_address';
@import './container/shipping_methods';
@import './container/additional_fees';
@import './container/payment_methods';
@import './container/pickup_information';
@import './container/summary';
@import './container/reward_point';
@import './container/store_credit';